<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Discoteca El Oasis | Armenia - Quindio</title>
  <meta
    content="Discoteca Fenix, disfuta de la mejor fiesta latina en Madrid con fiestas temáticas, tartas de cumpleaños, cachimbas y muchas sorpresas mas, ¡No te lo pierdas!"
    name="description">
  <meta
    content="Discoteca Fenix, Discoteca Fenix Madrid, Discoteca Fenix Latino, Discoteca Latina, Discoteca Latina Madrid, Discoteca cerca de mi, Discoteca latina cerca de mi"
    name="keywords">

  <!-- Favicons -->
  <link href="./assets/img/imgdf/discotecafenixlogo.png" rel="icon">
  <link href="./assets/img/imgdf/discotecafenixlogo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">

  Template Main CSS File
  <link href="assets/css/style.css" rel="stylesheet"> -->

</head>

<body>

  <!-- ======= Header ======= -->
  <!-- <header id="header" class="fixed-top ">

    <div class="divLR">
      <img  class="loginH" src="./assets/user.png"><a class="logii" href="login"><b>Iniciar Sesión</b></a>
      <img  class="loginH" src="./assets/registroo.png"><a class="regist" href="registro"><b>Registrarse</b></a>
    </div>
    <div class="container d-flex align-items-center justify-content-between">

      <h2 class="logo"><a href="home"><img src="./assets/img/imgdf/logo.png"
            alt="Discoteca fenix madrid"><span></span></a></h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Inicio</a></li>
          <li><a href="#about">Sobre nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#menu">Bebidas</a></li>
          <li><a href="#contact">Contacto</a></li>

        </ul>
      </nav>
      .nav-menu

      <a href="https://wa.me/+34602602675?text=Hola!%20Quiero%20hacer%20una%20reserva"
        class="get-started-btn scrollto">Reservas</a>

    </div>
  </header> -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Discoteca El Oasis</h1>
          <h2>Salsa <span>·</span> Bachata <span>·</span> Perreo <span>·</span> Merengue <span>·</span> Cumbia</h2>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://m.media-amazon.com/images/I/61yqxJwL2aL._AC_SL1001_.jpg" class="img-fluid"
              alt="Discoteca latina en madrid">
          </div>
          <div class="col-lg-5 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Disfruta de una noche diferente con el mejor Ambiente CUYABRO</h3>
            <p class="font-italic">
              Ven y celebra con nosotros, porque nuestras noches son diferentes y mágicas.
            </p>
            <ul>
              <li><i></i> ✔️Reserva de cumpleaños</li>
              <li><i></i> ✔️Torta y decoración 🎂🎊(PREVIA RESERVA)</li>
              <li><i></i> ✔️Fiesta tématica todos los miércoles</li>
              <li><i></i> ✔️Muchas Sorpresas</li>
            </ul>
            <p>
              Vive la mejor experiencia de discotecas, estamos en la Cra. 14 #19N-46, Armenia, Quindío, ¡te esperamos!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Que ofrecemos</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="mb-5"><img src="https://m.media-amazon.com/images/I/61yqxJwL2aL._AC_SL1001_.jpg" class="img-fluid"
                  alt="Discoteca el osasis"></div>
              <h4><a href="#services">Botellas</a></h4>
              <p>Tenemos las mejores marcas y la mejor calidad a su disposición siempre.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <div class="mb-5"><img src="https://scontent.fclo8-1.fna.fbcdn.net/v/t1.18169-9/16174556_1231585923601924_3559361774677388515_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=9267fe&_nc_ohc=nlnrDfBHdW0AX_8O4gy&_nc_ht=scontent.fclo8-1.fna&oh=00_AfCZ92AlaDjQ9f3AIPRMpPPy4kewhNuSnZh8Tklve5xOYg&oe=6382B035" class="img-fluid"
                  alt="Discoteca el osasis"></div>
              <h4><a href="#services">Cachimbas</a></h4>
              <p>Pide tu cachimba y disfruta de ella con toda la comodidad.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="mb-5"><img src="https://www.dhresource.com/webp/m/0x0/f2/albu/g10/M00/F9/2B/rBVaVl7iQe-AAuNyAAGnGR7fnwg040.jpg" class="img-fluid"
                  alt="Discoteca el osasis"></div>
              <h4><a href="#services">Tortas de cumpleaños</a></h4>
              <p>Si es tu cumpleaños, te mereces una torta, haz tu reserva y nosotros te la servimos.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="mb-5"><img src="https://p4.wallpaperbetter.com/wallpaper/279/107/730/bar-club-dance-dancing-wallpaper-preview.jpg" class="img-fluid"
                  alt="Discoteca el osasis"></div>
              <h4><a href="#services">Fiestas temáticas</a></h4>
              <p>Dejemos la rutina a un lado, todos los miércoles fiestas temáticas en discoteca Oasis.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="mb-5"><img src="https://www.dhresource.com/webp/m/0x0/f2/albu/g10/M00/F9/2B/rBVaVl7iQe-AAuNyAAGnGR7fnwg040.jpg" class="img-fluid"
                  alt="Discoteca el osasis"></div>
              <h4><a href="#services">Promociones</a></h4>
              <p>Disfruta y aprovecha nuestras promociones, síguenos en nuestras redes sociales para estar al tanto de
                todas ellas.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="mb-5"><img src="https://i.revistapym.com.co/old/2022/08/NFT-discoteca.png?w=920&d=1.25" class="img-fluid"
                  alt="Discoteca el osasis"></div>
              <h4><a href="#services">El mejor ambiente</a></h4>
              <p>Un ambiente en Armenia de mucha calidad, con la mejor fiesta y grandes sorpresas, ¡No te lo pierdas!
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta" style="height: 60vh;">
      <div class="container" data-aos="zoom-in">

        <div class="text-center mt-5 mb-5">
          <h3>Síguenos en Instagram</h3>
          <p> No te pierdas ninguna de nuestras novedades que publicamos en instagram para estar al dia y saber que
            fiesta vamos a hacer proximamente.</p>
          <a href="https://www.instagram.com/fenix.madrid/" target="_blank"><img id="logoInsta"
              src="./assets/img/instagram.png" alt="instagram discoteca fenix"></a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Bebidas</h2>
          <p>Elige tu botella</p>
        </div>
        

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <a href="bebidas"><li id="miBoton1" data-filter=".filter-ron">Ron</li></a>
              <a href="bebidas"><li data-filter=>Whisky</li></a>
              <a href="bebidas"><li data-filter=".filter-vodka">Vodka</li></a>
              <a href="bebidas"><li data-filter=".filter-ginebra">Ginebra</li></a>
              <a href="bebidas"><li data-filter=".filter-champagne">Champagne</li></a>
              <a href="bebidas"><li data-filter=".filter-aguardiente">Aguardiente</li></a>
              <a href="bebidas"><li data-filter=".filter-licor">Licor</li></a>
              <a href="bebidas"><li data-filter=".filter-tequila">Tequila</li></a>
              <a href="bebidas"><li data-filter="*" class="filter-active">Mostrar todo</li></a>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-aguardiente">
            <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
            <div class="menu-content">
              <a href="">Media Aguardiente</a><span>$ 55.000</span>
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-whisky">
            <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
            <div class="menu-content">
              <a href="">Media Aguardiente</a><span>$ 100.000</span>
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-whisky">
            <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
            <div class="menu-content">
              <a href="">Media Ron</a><span>$ 60.000</span>
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-ron">
            <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
            <div class="menu-content">
              <a href="">Litro Ron</a><span>$ 120.000</span>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

      </div>
    </div>



    <!-- SNACKS -->
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>SNACKS</h2>
        <p>Elige tu snack</p>
      </div>
      

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <a href="comidas"><li id="miBoton1" data-filter=".filter-ron">Papas</li></a>
            <a href="comidas"><li data-filter=>Gomitas</li></a>
            <a href="comidas"><li data-filter=".filter-vodka">Bonbones</li></a>
            <a href="comidas"><li data-filter=".filter-ginebra">Chocolates</li></a>
            <a href="comidas"><li data-filter=".filter-champagne">Chicles</li></a>
            <a href="comidas"><li data-filter=".filter-aguardiente">Granizados</li></a>
            <a href="comidas"><li data-filter=".filter-aguardiente">Otros mecatos</li></a>
            <a href="comidas"><li data-filter="*" class="filter-active">Mostrar todo</li></a>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-6 menu-item filter-aguardiente">
          <img src="https://bodegadelsabor.ch/595-large_default/papas-limon-margarita-105gr.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="">Papas de Limon</a><span>$ 2.500</span>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-whisky">
          <img src="http://bucaramanga.gruposotillo.com/wp-content/uploads/2014/09/lm140a-chupeta-bom-bom-bum-colombina.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="">Bonbonbum</a><span>$ 700</span>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-whisky">
          <img src="https://caprichoslatinos.com/wp-content/uploads/2021/05/choclitos.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="">Choclitos</a><span>$ 2.500</span>
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-ron">
          <img src="https://granizados.es/wp-content/uploads/2021/05/Granizados-5-sabores-2.png" class="menu-img" alt="">
          <div class="menu-content">
            <a href="">Grazidados</a><span>$ 7.000</span>
          </div>
        </div>

    </div>
  </div>
    </section>

    <!-- End Portfolio Section -->



    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="assets/img/testimonials/lucero.png" class="testimonial-img" alt="">
            <h3>Lucero Alamo</h3>
            <h4>Local Guide · 20 reseñas</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fui con unos compañeros y puedo decir que es un lugar donde ponen música variada; la atención es muy
              buena, hay sitio donde aparcar.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/cristinaM.png" class="testimonial-img" alt="">
            <h3>Cristina Maris Fernandez Romero</h3>
            <h4>Local Guide · 13 reseñas</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Genial, te iba buena música, había buen ambiente, es grande, puedes de disfrutar de dos salas diferentes y
              te atienden genial, la verdad es que nos encantó muchísimo a mis amigos y a mí.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/danny.png" class="testimonial-img" alt="">
            <h3>Danny</h3>
            <h4>Local Guide · 21 reseñas</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Se la pasa bien pero es muy pequeño
              Eso si te tratan muy bien... hay buena música y tienen buenas ofertas.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/david.png" class="testimonial-img" alt="">
            <h3>david p</h3>
            <h4>Local Guide · 35 reseñas</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Muy buen ambiente.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/jhoane.png" class="testimonial-img" alt="">
            <h3>Jhoane Flores</h3>
            <h4>4 reseñas</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Muy buen ambiente....excelente atención,gente súper maja y agradable.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Contacta con nosotros</p>
        </div>


        <div class="row mt-5">

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="address">
                <a href="https://goo.gl/maps/ohHce4zpTo5RB8WR9">
                  <i class=""></i>
                  <h4>Ubicación:</h4>
                  <p>Cra. 14 #19N-46, Armenia, Quindío. <br>Discoteca El Oasis</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="email">
                <a href="mailto:info@discotecafenix.com">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@discotecaoasis.com</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="phone">
                <a href="https://www.instagram.com/fenix.madrid/">
                  <i class=""></i>
                  <h4>Instagram:</h4>
                  <p>@osasis.discotec</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="phone">
                <i class=""></i>
                <h4>Horario:</h4>
                <p>De Miércoles a Domingos: 22:00-6:00</p>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="offset-lg-2 col-lg-8 col-md-6 text-center justify-content-center">
            <div class="footer-info">
              <h3><img src="./assets/img/imgdf/logo.png" alt="Discoteca fenix madrid"
                  class="img-fluid w-25 h-25"></h3>
              <p>
                Cra. 14 #19N-46, Armenia, Quindío.<br>
                <strong>Teléfono:</strong> +57 747 60 26 75<br>
                <strong>Email:</strong> info@discotecaoasis.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/BongoDiscotecaMadrid" class=""><i
                    class=""></i></a>
                <a href="https://www.instagram.com/fenix.madrid/" class=""><i
                    class=""></i></a>
                <a href="https://wa.me/+34602602675?text=Hola!%20Quiero%20hacer%20una%20reserva" class=""><i
                    class=""></i></a>
                <a href="mailto:info@discotecafenix.com" class=""><i class=""></i></a>
                <a href="tel:+34602602675" class=""><i class=""></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">


      <div class="copyright">
        <i class=""></i> <a href="#">Aviso legal</a><br>
        <i class=""></i> <a href="#">Política de cookies</a><br>
        <i class=""></i> <a href="#">Política de privacidad</a><br>
        <br>
        &copy; Copyright <strong><span>Discoteca El Oasis</span></strong>
        <script>document.write(new Date().getFullYear());</script>.
        <br>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
    document.onreadystatechange = function () {
      if (document.readyState == "interactive") {
        setTimeout(() => {
          document.getElementById('miBoton1').click()
        }, 1500);
      }
    }
  </script>

</body>

</html>