<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Elige tus bebidas favoritas</h1>
          <h2>Ron <span>·</span> Whisky <span>·</span> Vodka <span>·</span> Aguardiente <span>·</span> Tequila</h2>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

      <!-- ======= Menu Section ======= -->
      <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Bebidas</h2>
            <p>Elige tu botella</p>
          </div>
          
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                <a href="bebidas"><li id="miBoton1" data-filter=".filter-ron">Ron</li></a>
                <a href="bebidas"><li data-filter=>Whisky</li></a>
                <a href="bebidas"><li data-filter=".filter-vodka">Vodka</li></a>
                <a href="bebidas"><li data-filter=".filter-champagne">Champagne</li></a>
                <a href="bebidas"><li data-filter=".filter-aguardiente">Aguardiente</li></a>
                <a href="bebidas"><li data-filter=".filter-tequila">Tequila</li></a>
                <a href="bebidas"><li data-filter="*" class="filter-active">Mostrar todo</li></a>
              </ul>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <!-- <br>
          <br>
          <br>
          <br>
          <br> -->
          <div class="section-title">
            <h2>Bebidas</h2>
            <p>Ron</p>
          </div>
          <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-6 menu-item filter-aguardiente">
              <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
              <div class="menu-content">
                <a href="">Media Aguardiente</a><span>$ 55.000</span>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-whisky">
              <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
              <div class="menu-content">
                <a href="">Litro Aguardiente</a><span>$ 100.000</span>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-whisky">
              <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
              <div class="menu-content">
                <a href="">Media Ron</a><span>$ 60.000</span>
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-ron">
              <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
              <div class="menu-content">
                <a href="">Litro Ron</a><span>$ 120.000</span>
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            

            <div class="container" data-aos="fade-up">
  
                <div class="section-title">
                  <h2>Bebidas</h2>
                  <p>Whisky</p>
                </div>
                
        
  
        
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        
                  <div class="col-lg-6 menu-item filter-aguardiente">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Aguardiente</a><span>$ 55.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Aguardiente</a><span>$ 100.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Ron</a><span>$ 60.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-ron">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Ron</a><span>$ 120.000</span>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </div>
            </div>

            <div class="container" data-aos="fade-up">
  
                <div class="section-title">
                  <h2>Bebidas</h2>
                  <p>Vodka</p>
                </div>
                
        
  
        
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        
                  <div class="col-lg-6 menu-item filter-aguardiente">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Aguardiente</a><span>$ 55.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Aguardiente</a><span>$ 100.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Ron</a><span>$ 60.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-ron">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Ron</a><span>$ 120.000</span>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </div>
            </div>
            <div class="container" data-aos="fade-up">
  
                <div class="section-title">
                  <h2>Bebidas</h2>
                  <p>Aguardiente</p>
                </div>
                
        
  
        
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        
                  <div class="col-lg-6 menu-item filter-aguardiente">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Aguardiente</a><span>$ 55.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Aguardiente</a><span>$ 100.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Ron</a><span>$ 60.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-ron">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Ron</a><span>$ 120.000</span>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </div>
            </div>

            <div class="container" data-aos="fade-up">
  
                <div class="section-title">
                  <h2>Bebidas</h2>
                  <p>Champagne</p>
                </div>
                
        
  
        
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        
                  <div class="col-lg-6 menu-item filter-aguardiente">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Aguardiente</a><span>$ 55.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Aguardiente</a><span>$ 100.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Ron</a><span>$ 60.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-ron">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Ron</a><span>$ 120.000</span>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </div>
            </div>
            <div class="container" data-aos="fade-up">
  
                <div class="section-title">
                  <h2>Bebidas</h2>
                  <p>Tequila</p>
                </div>
                
        
  
        
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        
                  <div class="col-lg-6 menu-item filter-aguardiente">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Aguardiente</a><span>$ 55.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="https://cdn.shopify.com/s/files/1/0604/9579/0324/products/image-removebg-preview_50.png?v=1635356302" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Aguardiente</a><span>$ 100.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-whisky">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Media Ron</a><span>$ 60.000</span>
                    </div>
                  </div>
        
                  <div class="col-lg-6 menu-item filter-ron">
                    <img src="assets/img/bebidas/roncaldas.webp" class="menu-img" alt="">
                    <div class="menu-content">
                      <a href="">Litro Ron</a><span>$ 120.000</span>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  
      
        
              </div>
            </div>
        </div>
      </div>
      </section>
  
      <!-- End Portfolio Section -->



        <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="offset-lg-2 col-lg-8 col-md-6 text-center justify-content-center">
            <div class="footer-info">
              <h3><img src="./assets/img/imgdf/logo.png" alt="Discoteca fenix madrid"
                  class="img-fluid w-25 h-25"></h3>
              <p>
                Cra. 14 #19N-46, Armenia, Quindío.<br>
                <strong>Teléfono:</strong> +57 747 60 26 75<br>
                <strong>Email:</strong> info@discotecaoasis.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/BongoDiscotecaMadrid" class=""><i
                    class=""></i></a>
                <a href="https://www.instagram.com/fenix.madrid/" class=""><i
                    class=""></i></a>
                <a href="https://wa.me/+34602602675?text=Hola!%20Quiero%20hacer%20una%20reserva" class=""><i
                    class=""></i></a>
                <a href="mailto:info@discotecafenix.com" class=""><i class=""></i></a>
                <a href="tel:+34602602675" class=""><i class=""></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">


      <div class="copyright">
        <i class=""></i> <a href="#">Aviso legal</a><br>
        <i class=""></i> <a href="#">Política de cookies</a><br>
        <i class=""></i> <a href="#">Política de privacidad</a><br>
        <br>
        &copy; Copyright <strong><span>Discoteca El Oasis</span></strong>
        <script>document.write(new Date().getFullYear());</script>.
        <br>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>
    document.onreadystatechange = function () {
      if (document.readyState == "interactive") {
        setTimeout(() => {
          document.getElementById('miBoton1').click()
        }, 1500);
      }
    }
  </script>
</body>
</html>
