<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-holder">
            <h2>Recuperar Contraseña</h2>
            <form action="" class="form">
                <div class="form-group">
                    <img src="./assets/email.png" alt="">
                    <input type="text" placeholder="Correo Electronico">
                </div>
                <div class="form-group">
                   <button type="submit">Enviar</button> 
                </div>
                <div class="form-group">
                    <a href="login">Iniciar Sesión</a>
                    <a href="registro" class="right-link">Registrarme</a>
                </div>
            </form>
        </div>
    </div>

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
              <div class="container">
                <div>
                  <img class="logoRegistro" src="./assets/img/imgdf/logo.png" alt="">
                  <p>
                    Cra. 14 #19N-46, Armenia, Quindío.<br>
                    <strong>Teléfono:</strong> +57 747 60 26 75<br>
                    <strong>Email:</strong> info@discotecaoasis.com<br>
                  </p>
                </div>
                <div>
               
                </div>
              </div>
            </div>
        
            <div class="container">
        
        
              <div class="copyright">
                <i class=""></i> <a href="#">Aviso legal</a><br>
                <i class=""></i> <a href="#">Política de cookies</a><br>
                <i class=""></i> <a href="#">Política de privacidad</a><br>
                <br>
                &copy; Copyright <strong><span>Discoteca El Oasis</span></strong>
                <script>document.write(new Date().getFullYear());</script>.
                <br>
              </div>
            </div>
          </footer>
          <!-- End Footer -->
</body>
</html>