<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Discoteca El Oasis | Armenia - Quindio</title>
    <meta
      content="Discoteca Fenix, disfuta de la mejor fiesta latina en Madrid con fiestas temáticas, tartas de cumpleaños, cachimbas y muchas sorpresas mas, ¡No te lo pierdas!"
      name="description">
    <meta
      content="Discoteca Fenix, Discoteca Fenix Madrid, Discoteca Fenix Latino, Discoteca Latina, Discoteca Latina Madrid, Discoteca cerca de mi, Discoteca latina cerca de mi"
      name="keywords">
  
    <!-- Favicons -->
    <link href="./assets/img/imgdf/discotecafenixlogo.png" rel="icon">
    <link href="./assets/img/imgdf/discotecafenixlogo.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">
  
    <!-- Vendor CSS Files
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  
    Template Main CSS File
    <link href="assets/css/style.css" rel="stylesheet"> -->
  
  </head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">

      <div class="divLR">
        <img  class="loginH" src="./assets/user.png"><a class="logii" href="login"><b>Iniciar Sesión</b></a>
        <img  class="loginH" src="./assets/registroo.png"><a class="regist" href="registro"><b>Registrarse</b></a>
      </div>
      <div class="container d-flex align-items-center justify-content-between">
  
        <h2 class="logo"><a href="home"><img src="./assets/img/imgdf/logo.png"
              alt="Discoteca fenix madrid"><span></span></a></h2>
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="home">Inicio</a></li>
            <li><a href="sobre-nosotros">Sobre nosotros</a></li>
            <li><a href="servicios">Servicios</a></li>
            <li><a href="bebidas">Bebidas</a></li>
            <li><a href="snack">Snacks</a></li>
            <li><a href="contacto">Contacto</a></li>
            

  
          </ul>
        </nav><!-- .nav-menu -->
  
        <a href="https://wa.me/+34602602675?text=Hola!%20Quiero%20hacer%20una%20reserva"
          class="get-started-btn scrollto">Reservas</a>
  
      </div>
    </header><!-- End Header -->
  <div>
    <router-outlet></router-outlet>
  </div>
</body>
</html>